{
  "blueprint" : "{{ cluster_name }}",
  "default_password" : "{{ default_password }}",
  "configurations" : [
{% if 'OOZIE' in blueprint_services %}
    {
      "oozie-site" : {
        "oozie.service.JPAService.jdbc.password" : "{{ mysql_oozie_password }}"
      }
    },
{% endif %}
    {
      "hive-site" : {
        "javax.jdo.option.ConnectionPassword" : "{{ mysql_hive_password }}"
      }
    }
  ],
  "host_groups" :[
    {
      "name" : "mn01", 
      "hosts" : [         
        {
          "fqdn" : "{{ groups[cluster_name+'_mn01'][0]['ansible_fqdn'] }}"
        }
      ]
    },
    {
      "name" : "mn02", 
      "hosts" : [         
        {
          "fqdn" : "{{ groups[cluster_name+'_mn02'][0]['ansible_fqdn'] }}"
        }
      ]
    },
    {
      "name" : "mn03", 
      "hosts" : [         
        {
          "fqdn" : "{{ groups[cluster_name+'_mn03'][0]['ansible_fqdn'] }}"
        }
      ]
    },
    {
      "name" : "datanode", 
      "hosts" : [         
          {% for host in groups[cluster_name+'_datanode']['ansible_fqdn'] %}
        {
          "fqdn" : "{{ host }}"
        }
          {% if not loop.last %}
          ,
          {% endif %}
          {% endfor %}
      ]
    }
  ]
}
