{
   "configurations": [
        {
            "hive-env": {
                "properties": {
                    "hive_database": "Existing MySQL Database",
                    "hive_log_dir": "{{ log_dir }}/hive",
                    "hive_pid_dir": "{{ pid_dir }}/hive",
                    "hcat_log_dir" : "{{ log_dir }}/webhcat",
                    "hcat_pid_dir" : "{{ pid_dir }}/webhcat"
                }
            }
        },
{% if 'OOZIE' in blueprint_services %}
        {
            "oozie-site" : {
                "properties" : {
                    "oozie.service.JPAService.jdbc.driver" : "com.mysql.jdbc.Driver",
                    "oozie.service.JPAService.jdbc.url" : "jdbc:mysql://{{ groups[cluster_name+'_mysql'][0]['ansible_fqdn'] }}/oozie",
                    "oozie.service.JPAService.jdbc.username" : "{{ mysql_oozie_user }}",
                    "oozie.db.schema.name" : "{{ mysql_oozie_database }}"
                }
             }
        },
        {
            "oozie-env" : {
               "properties" : {
                   "oozie_hostname" : "{{ groups[cluster_name+'_mn03'][0]['ansible_fqdn'] }}",
                   "oozie_database" : "Existing MySQL Database",
                   "oozie_log_dir" : "{{ log_dir }}/oozie",
                   "oozie_pid_dir" : "{{ pid_dir }}/oozie",
                   "oozie_data_dir" : "{% if data_dir|length > 1 %}{{data_dir[1]}}/oozie/data" {% else %} {{data_dir[0]}}/oozie/data" {% endif %}
                }
            }
        },
{% endif %}
{% if 'FALCON' in blueprint_services %}
        {
            "falcon-env" : {
               "properties" : {
                   "falcon_log_dir" : "{{ log_dir }}/falcon",
                   "falcon_pid_dir" : "{{ pid_dir }}/falcon",
                   "falcon.emeddedmq.port" : "61616",
                   "falcon_store_uri" : "file://{{ data_dir[0] }}/falcon/store",
                   "falcon.embeddedmq.data" : "{{ data_dir[0] }}/falcon/embeddedmq/data"
                }
            }
        },
{% endif %}
{% if 'ATLAS' in blueprint_services %}
        {
            "atlas-env" : {
               "properties" : {
                   "atlas_log_dir" : "{{ log_dir }}/atlas",
                   "atlas_pid_dir" : "{{ pid_dir }}/atlas",
                   "metadata_data_dir" : "{% if data_dir|length > 1 %}{{data_dir[1]}}/atlas/data{% else %}{{data_dir[0]}}/atlas/data{% endif %}"
                }
            }
        },
{% endif %}
{% if 'SPARK' in blueprint_services %}
        {
            "spark-env" : {
               "properties" : {
                   "spark_log_dir" : "{{ log_dir }}/spark",
                   "spark_pid_dir" : "{{ pid_dir }}/spark"
                }
            }
        },
{% endif %}
        {
          "zookeeper-env" : {
            "properties" : {
              "zk_log_dir" : "{{ log_dir }}/zookeeper",
              "zk_pid_dir" : "{{ pid_dir }}/zookeeper"
            }
          }
        },
        {
            "zoo.cfg" : {
              "properties" : {
                "dataDir" : "{% if data_dir|length > 1 %}{{data_dir[1]}}/zookeeper{% else %}{{data_dir[0]}}/zookeeper{% endif %}"
              }
            }
        },
        {
            "ams-site": {
                "properties": {
                }
            }
        },
        {
            "core-site": {
                "properties": {
                    "hadoop.proxyuser.hive.groups": "*",
                    "hadoop.proxyuser.hdfs.groups": "*",
                    "hadoop.proxyuser.hcat.hosts": "{{ groups[cluster_name+'_mn03'][0]['ansible_fqdn'] }}",
                    "hadoop.proxyuser.hdfs.hosts": "*",
                    "hadoop.proxyuser.hive.hosts": "{{ groups[cluster_name+'_mn03'][0]['ansible_fqdn'] }}"
                }
            }
        },
        {
            "hive-site": {
                "properties": {
                    "hive.enforce.bucketing": "false",
                    "javax.jdo.option.ConnectionURL": "jdbc:mysql://{{ groups[cluster_name+'_mysql'][0]['ansible_fqdn'] }}/hive?createDatabaseIfNotExist=true"
                }
            }
        },
        {
            "yarn-env": {
                "properties": {
                    "min_user_id": "1000",
                    "yarn_log_dir_prefix": "{{ log_dir}}/yarn",
                    "yarn_pid_dir_prefix": "{{ pid_dir}}/yarn"
                }
            }
        },
        {
            "tez-site": {
                "properties": {
                }
            }
        },
        {
            "mapred-site": {
                "properties": {
                }
            }
        },
        {
            "mapred-env": {
                "properties": {
                  "mapred_log_dir_prefix" : "{{ log_dir }}/mapreduce",
                  "mapred_pid_dir_prefix" : "{{ pid_dir }}/mapreduce"
                }
            }
        },
        {
            "yarn-site": {
              "properties": {
                "yarn.nodemanager.log-dirs" : "{% for data in data_dir %}{{data}}/yarn/log{% if not loop.last %},{% endif %}{% endfor %}",

                "yarn.nodemanager.local-dirs" : "{% for data in data_dir %}{{data}}/yarn/local{% if not loop.last %},{% endif %}{% endfor %}",

                "yarn.timeline-service.leveldb-state-store.path" : "{{ data_dir[0] }}/yarn/timeline"
              }
            }
        },
        {
            "hadoop-env": {
                "properties": {
                  "hdfs_log_dir_prefix": "{{ log_dir }}",
                  "hadoop_pid_dir_prefix": "{{ pid_dir }}"
                }
            }
        },
{% if 'ambari_version' >= '2.2.2' && 'hdp_stack' >= '2.4' %}
        {
            "grafana-env": {
                "properties": {
                  "metrics_grafana_log_dir" : "{{ log_dir }}/ambari-metrics-grafana",
                  "metrics_grafana_pid_dir" : "{{ pid_dir }}/ambari-metrics-grafana",
                  "metrics_grafana_data_dir" : "{{ data_dir[0] }}/ambari-metrics-grafana",
                  "metrics_grafana_username" : "admin"
                }
            }
        },
{% endif %}
        {
            "ams-env": {
                "properties": {
                  "hbase_log_dir" : "{{ log_dir }}/ambari-metrics-collector",
                  "hbase_pid_dir" : "{{ pid_dir }}/ambari-metrics-collector"
                }
            }
        },


        {
            "hdfs-site": {
                "properties": {
                  "dfs.namenode.name.dir" : "{{ data_dir[0] }}/hdfs/namenode",
                  "dfs.namenode.checkpoint.dir" : "{{ data_dir[0] }}/hdfs/namesecondary",
                  "dfs.datanode.data.dir" : "{% for data in data_dir %}{{data}}/hdfs/data{% if not loop.last %},{% endif %}{% endfor %}"
                }
            }
        },
        {
            "ams-hbase-site": {
                "properties": {
                }
            }
        }

    ],
  "Blueprints" : {
    "stack_name" : "HDP",
    "stack_version" : "{{ hdp_stack }}"
  },
    "host_groups" : [
    {
      "name" : "mn03",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'OOZIE' in blueprint_services %}
{% if 'FALCON' in blueprint_services %}
        {
          "name" : "FALCON_SERVER"
        },
        {
          "name" : "FALCON_CLIENT"
        },
{% endif %}
        {
          "name" : "OOZIE_SERVER"
        },
        {
          "name" : "OOZIE_CLIENT"
        },
{% endif %}
{% if 'ATLAS' in blueprint_services %}
        {
          "name" : "ATLAS_SERVER"
        },
{% if 'hdp_stack' == '2.5' %}
        {
          "name" : "ATLAS_CLIENT"
        },
{% endif %}        
{% endif %}
{% if 'SPARK' in blueprint_services %}
        {
          "name" : "SPARK_CLIENT"
        },
{% endif %}
{% if 'ZEPPELIN' in blueprint_services && 'hdp_stack' == '2.5' %}
        {
          "name" : "ZEPPELIN_MASTER"
        },
{% endif %}
{% if 'LOGSEARCH' in blueprint_services && 'hdp_stack' == '2.5' && 'ambari_version' == '2.4.0' %}
        {
          "name" : "LOGSEARCH_SERVER"
        },
        {
          "name" : "LOGSEARCH_LOGFEEDER"
        },
        {
          "name" : "LOGSEARCH_SOLR"
        },
        {
          "name" : "LOGSEARCH_SOLR_CLIENT"
        },
{% endif %}
        {
          "name" : "PIG"
        },
        {
          "name" : "HIVE_SERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "HIVE_METASTORE"
        },
        {
          "name" : "AMBARI_SERVER"
        },
  {% if 'ambari_version' == '2.2.2' %}
        {
          "name" : "METRICS_GRAFANA"
        },
  {% endif %}
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "METRICS_COLLECTOR"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "WEBHCAT_SERVER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "datanode",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "NODEMANAGER"
        },
        {
          "name" : "METRICS_MONITOR"
        },
{% if 'KAFKA' in blueprint_services %}
        {
          "name" : "KAFKA_BROKER"
        },
{% endif %}
{% if 'STORM' in blueprint_services %}
        {
          "name" : "SUPERVISOR"
        },
{% endif %}
        {
          "name" : "DATANODE"
        }
      ]
    },
    {
      "name" : "mn01",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "PIG"
        },
        {
          "name" : "NAMENODE"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        },
        {
          "name" : "RESOURCEMANAGER"
        }
      ],
      "cardinality" : "1"
    },
    {
      "name" : "jobserver",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ]
    },
    {
      "name" : "mn02",
      "configurations" : [ ],
      "components" : [
        {
          "name" : "ZOOKEEPER_SERVER"
        },
        {
          "name" : "ZOOKEEPER_CLIENT"
        },
{% if 'STORM' in blueprint_services %}
        {
          "name" : "NIMBUS"
        },
        {
          "name" : "DRPC_SERVER"
        },
        {
          "name" : "STORM_UI_SERVER"
        },
{% endif %}
{% if 'SPARK' in blueprint_services  %}
{% if 'hdp_stack' == '2.5'  %}
        {
          "name" : "LIVY_SERVER"
        },
{% endif %}
        {
          "name" : "SPARK_JOBHISTORYSERVER"
        },
        {
          "name" : "SPARK_THRIFTSERVER"
        },
{% endif %}

        {
          "name" : "PIG"
        },
        {
          "name" : "HISTORYSERVER"
        },
        {
          "name" : "HCAT"
        },
        {
          "name" : "METRICS_MONITOR"
        },
        {
          "name" : "SECONDARY_NAMENODE"
        },
        {
          "name" : "TEZ_CLIENT"
        },
        {
          "name" : "APP_TIMELINE_SERVER"
        },
        {
          "name" : "SQOOP"
        },
        {
          "name" : "HIVE_CLIENT"
        },
        {
          "name" : "HDFS_CLIENT"
        },
        {
          "name" : "YARN_CLIENT"
        },
        {
          "name" : "MAPREDUCE2_CLIENT"
        }
      ],
      "cardinality" : "1"
    }
  ]
}
